.ourMenu{
    width: 80%;
    height: 50vh;
    margin:  100px auto 0;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../../../assets/home/chef-service.jpg);
    background-position: center;
    background-size: cover;
}